section.title
  //background-color $color-heading
  h1
    display: none
.bespoke-active
  background-image: url('/images/ct-logo.png');
  background-repeat: no-repeat;
  background-position: bottom right;

section 
  .two-columns
    display: flex;
    flex-flow: rows wrap;
    align-items: center;
    text-align:left;
    width: 100%;
    > pre.source, > ol, > ul, > p, > figure
      &:first-of-type
        flex: 1
        max-width: 50%;
    .left-content
      flex: 1
    div.colist
      margin-top:300px;
      margin-left:-300px;
      flex : 1
    &.center
      text-align: center;
  
  > pre.source
      width: calc(100% - 1em);

.bigIcon
  position: absolute;
  font-size: 5em;
  top: 0.2em;
  left: 3.5em;

span.icon
  width:40px;
  display: inline-block;
  text-align: center;

.line-through
  text-decoration: line-through

.underline
  text-decoration: underline

.quote
  blockquote:before
    content: "\201c";
    float: left;
    font-size: 2.75em;
    font-weight: bold;
    line-height: .6em;
    margin-left: -.6em;
    color: $color-accent;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1)
  figcaption
    margin-top: .5em;
    margin-right: .5ex;
    text-align: right
    font-size: .9375em;
    line-height: 1.45;
    font-style: italic
    cite
      display: block;
      letter-spacing: -.025em;
      color: rgba(0, 0, 0, .6)

.conum { display: inline-block; color: white !important; background-color: #222222; -webkit-border-radius: 100px; border-radius: 100px; text-align: center; width: 32px; height: 32px; font-size: 20px; font-weight: bold; line-height: 32px; font-family: Arial, sans-serif; font-style: normal; position: relative; top: -2px; letter-spacing: -1px; margin-right:6px}
.conum * { color: white !important; }
.conum + b { display: none; }
.conum:after { content: attr(data-value); }
.conum:not([data-value]):empty { display: none; }
.admonitionblock td.icon .icon-note:before { content: "\f05a"; color: #005498; color: #003f72; }